<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/flatpickr/flatpickr.min.css" rel="stylesheet" />
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmployeeTrack.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            @if (User.Identity?.IsAuthenticated == true)
            {
                <div class="d-flex align-items-center">
                    <span class="navbar-text">@User.Identity.Name</span>
                    <a asp-controller="Dashboard" asp-action="Dashboard" class="navbutton me-2">Dashboard</a>
                    <a asp-controller="Account" asp-action="Logout" class="navbutton" style="background: linear-gradient(45deg, #440000, #ff0000); box-shadow: 0 0 10px rgba(255,0,0,0.4);">Logout</a>
                </div>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login" class="navbutton">Login to Dashboard</a>
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="~/lib/flatpickr/flatpickr.js"></script>
    <script src="~/lib/select2/select2.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
