@using EmployeeTrack.Models.Entities
@{
    ViewData["Title"] = "Dashboard";
    string active = ViewBag.ActiveView ?? "Home";
}

<div class="dashboard-container" style="gap:40px;">
   <div class="dash-card">
       <h1> Manage Employees</h1>
		<a href="/Employees/Index" class="btn btn-primary">List Employees</a>
   </div>

    <div class="dash-card">
        <h1> Manage Visits</h1>

    </div>
</div>