@{
    ViewData["Title"] = "Track";
}

@if (User.Identity?.IsAuthenticated == true)
{
    <li>Hello @User.Identity.Name!</li>
    <a asp-controller="Account" asp-action="Logout">Logout</a>
}
else
{
    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
}