@{
    ViewData["Title"] = "Track";
}

<div style="margin-top:40px;"class="d-flex flex-column justify-content-center align-items-center vh-35 text-center">
    <h1>Welcome to employee tracker</h1>
    <p style="opacity:0.2">made by elabbas</p>
</div>

